/* changes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;

  /* changes */
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;

  /* changes */
  font-size: 32px;
  font-weight: 900;
  padding: 16px;
  display: flex;
  align-items: center;
}

/* changes */
.container {
  display: flex;
  flex: 1;
}

.sidebar {
  /* changes */
  flex: 1 0 300px;

  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
}

/* changes */
.card-container {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  padding: 48px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;

  /* changes */
  width: 400px;
  padding: 20px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;

  /* changes */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* changes */
ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* changes */
li {
  list-style: none;
}

/* changes */
a {
  text-decoration: none;
  color: #fff;
}
